---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/sections/landing/Hero.astro";
import WhatIsTheEvent from "@components/sections/landing/WhatIsTheEvent.astro";
import BenefitsToParticipants from "@components/sections/landing/BenefitsToParticipants.astro";
import Sponsors from "@components/sections/landing/Sponsors.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="Codesafio #2" description="description">
  <main>
    <Hero />
    <WhatIsTheEvent />
    <BenefitsToParticipants />
    <Sponsors />
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
</style>
