---
import twitterXLogo from "@assets/images/twitter-x-logo.png";
---

<footer>
  <small>Realizado por TechGroupUcab ❤</small>
  <div>
    <a href="#" target="_blank">
      <img src={twitterXLogo.src} alt="Instagram" />
    </a>
    <a href="#" target="_blank">
      <img src={twitterXLogo.src} alt="Facebook" />
    </a>
    <a href="#" target="_blank">
      <img src={twitterXLogo.src} alt="Twitter/X" />
    </a>
  </div>
</footer>

<style>
  footer {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }
</style>
