---
import LandingButton from "@components/LandingButton.astro";
---

<header>
  <img src="" alt="Codesafío Logo" />
  <nav>
    <a href="#">¿En qué consiste?</a><a href="#"
      >Beneficios a los participantes</a
    ><a href="#">Preguntas frecuentes</a><a href="#">Sponsors</a>
  </nav>
  <LandingButton
    text="Estoy interesado"
    href="https://forms.gle/RxSahhsZD7yLuFCW6"
    usePurpleColor
  />
  <LandingButton text="Ser Sponsor" href="#" usePrimaryColor />
</header>
